<h2>
  Travel Destinations:
</h2>

<% @new_hash.each do |k, v| %>
  <p>
    <%= "#{k.to_s.upcase} is located at #{v.ll} in #{v.city}, #{v.state_code}" %>
  </p>
<% end %>

<h3>
  Possible trips:
</h3>

<p>
  This is a combination of all possible trips:
</p>

<% @distances.each do |k, v| %>
  <p>
    <%= "#{k.to_s} distance: #{v.to_s} miles" %>
  </p>
<% end %>

<h3>
  Longest travel distance:
</h3>

<p>
  <% if @max %>
    <%= "#{@max[0]} #{@max[1]} miles" %>
  <% else %>
    ...
  <% end %>
</p>
