<h3>
  This is just an <%= @ind %>
</h3>

<ul>
  <li>
    Home
  </li>
  <li>
    Instructions --> find out how to get your longest flight distance
  </li>
  <li>
    Index ... this page
  </li>
  <li>
    Coding Examples --> an addition with other small code snippets and examples
  </li>
</ul>
