<h4>
  Please enter all airports you have visited into the form and hit submit.
</h4>
<h4>
  Valid Airport names can be found here:
</h4>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/IATA_airport_code">Wiki Link of IATA ( International Air Transport Association airport code) list</a>
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/List_of_airports_in_the_United_States">Wiki list of US airports</a>
  </li>
</ul>

<form class="" action="/ports" method="post">
  <input type="text" name="input">
  <input type="submit">
</form>

<h4>
  Examples:
</h4>
<ul>
  <li>
    <h4>US airport codes</h4>
    <% us_ports = {'BHM' => 'Birmingham',
      'ANC' => 'Anchorage',
      'PHX' => 'Phoenix',
      'OAK' => 'Oakland',
      'DEN' => 'Denver',
      'ATL' => 'Atlanta',
      'HNL' => 'Honolulu',
      'ALB' => 'Albany',
      'BTV' => 'Burlington'
      }%>
    <% us_ports.each do |k, v| %>
      <p> <%= "#{k} --> #{v}"%> </p>
    <% end %>
  </li>
  <li>
    <h4>European airport codes</h4>
    <% eu_ports = {'TXL' => 'Berlin, Germany',
      'LON' => 'London, United Kingdom',
      'ROM' => 'Rome, Italy'
    }%>
    <% eu_ports.each do |k, v| %>
      <p> <%= "#{k} --> #{v}"%> </p>
    <% end %>
  </li>
  <li>
    <h4>Asian airport codes</h4>
    <% ai_ports = { 'JKT' => 'Jakarta, Indonesia',
      'HND' => 'Haneda Airport, Tokyo, Japan',
      'BKK' => 'Bangkok, Thailand'
    }%>
    <% ai_ports.each do |k, v| %>
      <p> <%= "#{k} --> #{v}"%> </p>
    <% end %>
  </li>
</ul>
