<h4>
  Please append all airports you have visited into the address/URL bar, after a '/' and seperate them with spaces.
</h4>
<h4>
  Valid Airport names can be found here:
</h4>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/IATA_airport_code">Wiki Link of IATA ( International Air Transport Association airport code) list</a>
  </li>
  <li>
    <a href="https://en.wikipedia.org/wiki/List_of_airports_in_the_United_States">Wiki list of US airports</a>
  </li>
</ul>

<h4>
  Examples:
</h4>
<ul>
  <li>
    <h4>US airport codes</h4>
    <% us_ports = {'BHM' => 'Birmingham',
      'ANC' => 'Anchorage',
      'PHX' => 'Phoenix',
      'OAK' => 'Oakland',
      'DEN' => 'Denver',
      'ATL' => 'Atlanta',
      'HNL' => 'Honolulu',
      'ALB' => 'Albany',
      'BTV' => 'Burlington'
      }%>
    <% us_ports.each do |k, v| %>
      <p> <%= "#{k} --> #{v}"%> </p>
    <% end %>
  </li>
  <li>
    <h4>European airport codes</h4>
    <p>TXL --> Berlin, Germany</p>
    <p>LON --> London, United Kingdom</p>
    <p>ROM --> Rome, Italy</p>
  </li>
  <li>
    <h4>Asian airport codes</h4>
    <p>JKT --> Jakarta, Indonesia</p>
    <p>HND --> Haneda Airport, Tokyo, Japan</p>
    <p>BKK --> Bangkok, Thailand</p>
  </li>
</ul>
