<h3>Welcome to the fancy travel trip assessment app</h3>
<p>This small web-API let's you submit a list of airports of your choice <br>
   and in return it will list all possible flight combinations between <br>
   two of those airports. <br>
   In addition it will show the geographic coordinates of each airport and <br>
   return the longest possible trip. <br>
   This app currently only accepts get requests which can be entered directly into the address bar. <br>
   Requests can be entered raw text/string format, regardless of letter case, or in URL format, seperated by '%20'. <br>
   Alternatively, requests can be send via curl or any API testing application (like Postman), but as of <br>
   right now, the response format will be raw HTML. It is possible to add a response in JSON format, but this <br>
   would require some small additions to the application.
</p>
