<h3>Welcome to the fancy travel trip assessment app</h3>
<p>This small web-API let's you submit a list of airports of your choice <br>
   and in return it will list all possible flight combinations between two of those airports. <br>
   In addition it will show the geographic coordinates of each airport and <br>
   return the longest possible trip. <br>
   <br>
   This app accepts various requests which can be entered directly into the address bar, as well as some JSON requests. <br>
   Requests can be entered raw text/string format, regardless of letter case, or in URL format, seperated by '%20'. <br>
   Alternatively, requests can be send via curl or any API testing application (like Postman).<br>
   The Response format depends on your call. Some calls support a response in JSON format, please refer <br>
   to the README which can be found on my GitHub (link in the footer).
</p>
<h4>Other HTTP requests.</h4>
<p>I have been adding other 'coding examples' to explore Sinatra and show some variety. Feel free to explore</p>
