.container {
  height: 100%;
}

.wrap {
  min-height: calc(100vh - 89px);
}

footer {
  height: 100px;
  padding-top: 10px;
  font-size: 16px;
}

/* bootstrap override */
.panel {
  margin-bottom: 0px;
}

.navbar {
  border-radius: 0px;
}
