<h1>Biggest Winnings</h1>

<p>Here we except an array of integers which represents the prices of any tradable commodity in consecutive order.</p>
<p>An example would be '10, 20, 30, 40, 5, 30, 35, 39'</p>
<p>The result will represent the largest profit possible if buying at the lowest and selling at the highest value.</p>

<form class="array-form" action="/coding" method="post">
  <input type="text" name="input">
  <input type="checkbox" name="benchmark"><label for="benchmark"> Benchmark?</label>
  <input type="submit">
</form>

<br>
<p>Code Example A:</p>

<br>
<div class="container">
  <img src="code.png">
</div>
<br>
