<h1>Spiral Matrix</h1>

<p>A spiral matrix, or perhaps more correctly a spiral array is a square arrangement of n integers,</p>
<p>where the numbers follow a sequence that translates to a spiral (see image).</p>

<br>
<div class="container">
  <img src="spiralMatrix.png">
</div>
<br>

<p>Currently this application can produce a (3 x n) spiral matrix with the following JSON request: </p>
<p>curl -H "Accept: application/json" --data "matrix=1,2,3,4,5,6,7,8,9" 127.0.0.1:4567/spiral</p>
